.FSactive{
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 40000;
	background-color: #fff;
	height: 100vh;
}

#cFSearch{
	display: none;
}
.FSactive #cFSearch{
	display: block;
}
.FSactive #fSOption{
	margin-top: 15px;
	height: calc(100vh - 100px);
    overflow-y: scroll;
}